.container {
    border: 5px solid white;
    border-radius: 5px;
    background-color: #0c0c0b;
    padding: 1.2rem;
    font-size: 1.3rem;
    color: white;
    text-align: center;
}

@media only screen and (max-width: 760px) {
    .container {
        font-size: 0.95rem;
    }
}

.frame {
    height: 70vh;
    background-size: cover;
    background-position: center;
    margin-bottom: 1rem;
}