.line {
  display: block;
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
}

.line:nth-child(1),
.line:nth-child(2),
.line:nth-child(3) {
  transition-delay: 0.2s;
  transition: all 0.3s ease-in-out;
}

/* line Class Which Inside on Class */
.on .line:nth-child(3) {
  transform: translateY(-13px) rotate(-45deg);
}

.on .line:nth-child(2) {
  opacity: 0;
}

.on .line:nth-child(1) {
  transform: translateY(6px) rotate(45deg);
}
