.line {
  width: 100%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
}

.line span {
  display: inline-block;
  width: 100px;
  height: 2px;
  background-color: black;
  opacity: 0.15;
}
