.container {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.95);
    overflow: hidden;
    height: 100%;
    transition: width 0.3s ease-in-out 0ms;
    letter-spacing: 0.30rem;
}

.on {
    width: 70%;
}

.off {
    width: 0;
}

.listItem:hover {
    color: #eeceb0;
    transition: color 1s;
}